html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
div {
  box-sizing: border-box;
}

#mapContainer {
  height: 100%;
  width: 100%;
  padding-left: 400px;
}
#map {
  height: 100%;
  width: 100%;
  box-shadow: 0 0 3px #999;
}
#dashboard {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 100%;
  overflow: auto;
}
#info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  box-shadow: 0 0 3px #999;
}
#info .button {
  width: 50%;
  height: 50%;
  float: left;
  text-align: center;
  font-size: 2rem;
  vertical-align: middle;
  cursor: pointer;
  opacity: 0.8;
}
#info .button:hover {
  opacity: 1;
}
#info .button:before,
.button.logo a:before {
  content: "";
  display: inline-block;
  margin-left: -5px;
  width: 0;
  height: 100%;
  vertical-align: middle;
  background-color: #0f0;
}
#info .logo:before {
  display: none;
}
.button.logo {
  background-color: #fbefc4;
}
.button.logo a {
  display: block;
  width: 100%;
  height: 100%;
}
.button.logo img {
  max-width: 90%;
  max-height: 90%;
  vertical-align: middle;
}
.button.news {
  background-color: #52696f;
}
.button.search {
  background-color: #e57b7f;
}
.button.locate {
  background-color: #88baa4;
}

#listContainer {
  padding-top: 300px;
  width: 100%;
  height: 100%;
}
#list {
  height: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #555;
  overflow: auto;
}
#list li {
  box-shadow: 0 0 3px #aaa;
  padding: 5px;
  cursor: pointer;
}
#list h6 {
  margin: 0;
  padding: 2px;
  font-size: 1.2rem;
}
#list h6 span.tag {
  font-size: 0.8rem;
  background-color: #d9edf7;
  color: #31708f;
  padding: 3px 5px;
  border-radius: 0.8rem;
}
#list h6 span.updatedAt {
  float: right;
  font-size: 0.8rem;
}
.maskCountColumn {
  float: left;
  width: 35%;
  text-align: center;
}
.maskCount {
  padding: 1px;
  font-size: 3rem;
}
#list h6:after,
.maskCountBox:after {
  content: "";
  display: block;
  clear: both;
}

#about {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  text-align: center;
  transition: 0.6s;
  background-color: rgba(255, 255, 255, 0.8);
}
#about .container {
  margin-top: 10%;
  background: #fff;
  width: 100%;
  max-width: 500px;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 0 5px #666;
  padding: 10px;
}
.close {
  display: inline-block;
  background-color: #f00;
  color: #fff;
  padding: 3px 5px;
  float: right;
  border-radius: 0 10px 0 0;
  font-size: 1.5rem;
  cursor: pointer;
}
#about h5 {
  font-size: 1.5rem;
}

#note {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 5%;
  width: 100%;
  height: 100%;
  z-index: 9999;
  transition: 0.3s;
}
#note.small {
  padding-top: 0;
  width: 100px;
  height: 100px;
}
#note .noteContainer {
  width: 95%;
  max-width: 500px;
  max-height: 95%;
  overflow: auto;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 0 0 3px #999;
}
#note h5 {
  margin: 5px;
  text-align: center;
  font-size: 1.2rem;
}
#note h4 {
  margin: 5px;
  text-align: center;
  font-size: 2rem;
}
#note h4 span {
  font-size: 1rem;
  color: #999;
}
#note .content {
  background-color: #d9edf7;
  padding: 10px;
  border-radius: 5px;
  box-shadow: inset 0 0 3px #bce8f1;
  color: #31708f;
}
#note .content ul {
  font-size: 0.9rem;
  margin: 0;
}
#note.small .noteContainer {
  padding: 5px;
  cursor: pointer;
}
#note.small h5,
#note.small .content {
  display: none;
}
#note.small h4 {
  line-height: 2rem;
}
#closeNote {
  display: inline-block;
  background-color: #f00;
  color: #fff;
  padding: 3px 5px;
  float: right;
  border-radius: 0 10px 0 0;
  font-size: 1.5rem;
  cursor: pointer;
  overflow: hidden;
}
#note.small #closeNote {
  display: none;
}

#news {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  text-align: center;
  transition: 0.6s;
  background-color: rgba(255, 255, 255, 0.8);
}

#news .container {
  margin-top: 2%;
  background: #fff;
  width: 100%;
  height: 95%;
  max-width: 500px;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 0 5px #666;
  padding: 10px;
  position: relative;
}
.msgWindow {
  height: 100%;
  overflow: auto;
  background-color: #d9edf7;
  padding: 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 3px #bce8f1;
  color: #31708f;
  box-sizing: border-box;
  margin: 0;
  list-style: none;
}
#closeNews {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  z-index: 10;
}
.msgWindow li {
  position: relative;
  vertical-align: middle;
  margin-top: 10px;
}
.msgWindow .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  background: #5e5eb5;
  color: #eee;
}
.msgWindow .avatar:before {
  letter-spacing: -4px;
  content: "";
  display: inline-block;
  width: 0;
  margin-left: -6px;
  height: 100%;
  vertical-align: middle;
}
.msgBubble {
  width: 100%;
  padding: 0 30px 0 80px;
}
.bubble {
  min-height: 50px;
  background-color: #5f9ea0;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  text-align: left;
}
.bubble:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-color: transparent #5f9ea0 transparent transparent;
  border-style: solid;
  border-width: 10px 15px 10px 5px;
  position: absolute;
  top: 15px;
  right: 100%;
}
.msgBubble img {
  width: 100%;
}
.bubble .msg {
  color: #efefef;
  display: inline-block;
  padding: 10px 0;
}

.disable {
  background: #dfdfdf;
}

.saleLog {
  width: 30%;
}

.chart {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.4) 1px,
    transparent 2%
  );
  background-size: 100% 10px;
  background-position: 0 1px;
  margin: 10px auto;
  padding: 2px;
  list-style: none;
  height: 50px;
  width: 90%;
  font-size: 0;
  position: relative;
}
.chart:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: bottom;
}
.chart:after {
  position: absolute;
  right: 100%;
  top: -0.4rem;
  padding-right: 2px;
  font-size: 0.8rem;
  content: attr(title);
  word-wrap: break-word;
}
.chart li {
  display: inline-block;
  width: 12.5%;
  height: 50%;
  background: #e57b7f;
  vertical-align: bottom;
  position: relative;
}
.chart li span:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  font-size: 0.8rem;
  display: block;
  text-align: center;
  content: attr(title);
  word-wrap: break-word;
}

.user-icon {
  font-size: 0;
  text-align: center;
}
.user-icon:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.user-icon-marker {
  background-color: rgba(0, 162, 255, 1);
  display: inline-block;
  width: 50%;
  height: 50%;
  vertical-align: middle;
  border-radius: 50%;
  border: 1px solid rgb(0, 115, 182);
  box-shadow: 0 0 5px 5px rgba(82, 179, 235, 0.8);
  animation: userIcon 1s ease-out 0s infinite alternate;
}

@keyframes userIcon {
  from {
    box-shadow: 0 0 5px 5px rgba(82, 179, 235, 0.6);
  }
  to {
    box-shadow: 0 0 0px 0px rgba(0, 162, 255, 1);
  }
}

#newsList span {
  position: relative;
  display: inline-block;
}
#newsList .tipLight.close {
  display: none;
}
#newsList .tipLight {
  background: rgb(42, 245, 245);
  width: 10px;
  height: 10px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px 5px rgba(82, 179, 235, 0.8);
  animation: userIcon 1s ease-out 0s infinite alternate;
}
