@media screen and (max-width: 800px) {
  #mapContainer {
    padding-left: 0;
    padding-bottom: 250px;
  }
  #dashboard {
    top: auto;
    bottom: 0;
    width: 100%;
    height: 250px;
  }
  #info {
    height: 80px;
  }
  #info .button.logo {
    display: block;
    position: fixed;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    top: 0;
    left: 50%;
    z-index: 999;
    background-color: transparent;
    opacity: 1;
  }
  #info .button {
    width: 33.3333%;
    height: 100%;
  }

  #listContainer {
    padding-top: 80px;
  }
  #list h6 {
    font-size: 1rem;
  }
  .maskCount {
    padding: 1px;
    font-size: 1.8rem;
  }

  #note.small {
    width: auto;
    height: auto;
  }
  #note.small .noteContainer {
    padding: 3px;
  }
  #note.small h4 {
    line-height: 1.2rem;
    font-size: 1rem;
    padding: 0;
  }
  #note.small h4 span {
    display: none;
    font-size: 0.5rem;
  }
}
